// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";
@import "welcome";
@import "tree";

body {
  padding-top: $base-padding;
}

footer {
  padding: $base-padding 0 $base-padding 0;
}

header, nav.sipro-navbar-user, div.buttons {
  margin-bottom: $base-margin;
}

.base-color {
  color: $base-color;
}

img.sipro-navbar-logo-img, img.sipro-navbar-avatar-img {
  height: 20pt;
}

img.sipro-navbar-logo-img, div.sipro-navbar-title {
  display: inline-block;
}

button[type=submit] {
  margin: $base-margin;
}

.sipro-image-file-select {
  max-height: 100px;
  max-width: 100px;
  margin: auto auto 10pt auto;
  display: block;
}

iframe {
  border: none;
  width: 100%;
}

.hide{
  display: none;
}

div.alert {
  ul {
    margin-bottom: 0;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
}
#siproNavbarSidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#siproNavbarSidebar {
  .sidebar-header {
    padding: 20px;
  }
  ul li {
    a {
      padding: 10px;
      display: block;
      font-weight: bold;
    }
    ul li a {
      font-weight: normal;
      padding-left: 30px;
      i{
        width: 30px;
        text-align: center;
      }
    }
  }
  h3{
    color: $white;
  }
}

#siproContent {
  flex: 1;
}