header{
	display: none;
}
nav.navbar{
	a.navbar-brand{
		img{
			height: 40px;
		}
	}
}
div.panel{
	background-color: #f7f7f7;
    padding: .5rem 1rem;
        margin-top: 20px;
        div.head{
        	text-align:center;
        	div.btn-left{
        		float: left;
        	}
        	div.btn-right{
        		float: right;
        	}
        	h2{
        		display: inline-block;
        	}
        }
        div.body{
            ul.list-group{
                li.list-group-item{
                    .btn{
                        float: right;
                        margin-left: 5px;
                    }
                }
            }
        }
        div.sidebar{
        	div{
        		margin-bottom: 20px;
        	}
        	div.avatar{
        		text-align: center;
        	}
        	div.name{
        		text-align: center;
				color: #800000;
				font-weight: bold;
				font-size: 20px;
        	}
        	ul.menu{
        		list-style: none;
        		padding: 0px;
        		li{
					padding: 0.5rem 1rem;
					a {
    					color: #800000;
						text-decoration: none;
					}
					&.active{
						background-color: #800000;
						a {
    						color: white;
						}
					}

        			&:hover{
						background-color: #900000;
						a {
    						color: white;
						}
        			}
        		}
        	}
        }
}

ul.pagination{
    li {
        padding: .5rem 1rem;
        a {
            color: #900000;
            text-decoration: none;
        }
        &.active{
            background-color: #800000;
            span {
                color: white;
            }
        }
        &:hover{
            background-color: #900000;
            a {
                color: white;
            }
        }
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}