header {
  display: none;
}
nav.navbar a.navbar-brand img {
  height: 40px;
}
div.panel {
  background-color: #f7f7f7;
  padding: 0.5rem 1rem;
  margin-top: 20px;
}
div.panel div.head {
  text-align: center;
}
div.panel div.head div.btn-left {
  float: left;
}
div.panel div.head div.btn-right {
  float: right;
}
div.panel div.head h2 {
  display: inline-block;
}
div.panel div.body ul.list-group li.list-group-item .btn {
  float: right;
  margin-left: 5px;
}
div.panel div.sidebar div {
  margin-bottom: 20px;
}
div.panel div.sidebar div.avatar {
  text-align: center;
}
div.panel div.sidebar div.name {
  text-align: center;
  color: #800000;
  font-weight: bold;
  font-size: 20px;
}
div.panel div.sidebar ul.menu {
  list-style: none;
  padding: 0px;
}
div.panel div.sidebar ul.menu li {
  padding: 0.5rem 1rem;
}
div.panel div.sidebar ul.menu li a {
  color: #800000;
  text-decoration: none;
}
div.panel div.sidebar ul.menu li.active {
  background-color: #800000;
}
div.panel div.sidebar ul.menu li.active a {
  color: white;
}
div.panel div.sidebar ul.menu li:hover {
  background-color: #900000;
}
div.panel div.sidebar ul.menu li:hover a {
  color: white;
}
ul.pagination li {
  padding: 0.5rem 1rem;
}
ul.pagination li a {
  color: #900000;
  text-decoration: none;
}
ul.pagination li.active {
  background-color: #800000;
}
ul.pagination li.active span {
  color: white;
}
ul.pagination li:hover {
  background-color: #900000;
}
ul.pagination li:hover a {
  color: white;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
